In [32]:
# Probability of getting 3 after rolling a dice
ns=6 #n(S)={1,2,3,4,5,6}
na=1 #n(A)={3}
pa= na/ns #p(A)
print("probability of getting 3 is: ",pa)

probability of getting 3 is:  0.16666666666666666

probability of atleast getting one head when a coin is tossed three times

In [15]:
ns=8 #n(S)={HHH,HHT,HTH,THH,HTT,THT,TTH,TTT}
na=7 #n(A)={HHH,HHT,HTH,THH,HTT,THT,TTH}
pa=na/ns #P(A)
print("probability of getting one head is:",pa)

probability of getting one head is: 0.875

In [17]:
#a glass of jar contains 5 red ,3 blue,2green jelly
#beans .If a jelly beans is chosen at random from the jar,
#what is the probability that it not blue ?
ns=10 #n(S)={5red,3blue,2green}
na=7 #n(A)={5red,2green}
pa=na/ns#P(A)
print( "probability of getting not blue jellybean:",pa)

probability of getting not blue jellybean: 0.7

In [5]:
def event_probability(n,s):
 return n/s

In [6]:
# a fair dice is tossed twice .Find the probability of
#getting 4or 5 on the first dice and 1,2,3 in the second toss
pa  =  event_probability(2,6)   # prob of getting 4 or 5 is (2/6) i.e 1/6 + 1/6
pb  =  event_probability(3,6)
P   =  pa*pb
print("probability of getting a 4 or 5 on the first toss and a 1, 2, or 3 in the second toss is : " , P)

probability of getting a 4 or 5 on the first toss and a 1, 2, or 3 in the second toss is :  0.16666666666666666

In [9]:
#  A bag contains 5 white , 3 black  & 2 green marbles . In each draw a marble is drawn from the bag and not replaced .
#  In three draws, find the probability of obtaining white , black, green in that order.
pw  = event_probability(5,10) 
pb  = event_probability(3,9)
pg  = event_probability(2,8) 

print("probability of obtaining white , black, green marbles is",(pw * pb * pg))

probability of obtaining white , black, green marbles is 0.041666666666666664

In [10]:
# Sample Space 
cards= 52

# Calculate the prob of drawing a heart or club
heart  = 13
club   = 13
prob_heart_or_club = event_probability( heart, cards)+ event_probability(club, cards)
print( prob_heart_or_club)

0.5

In [11]:
#  Calculate the probability of drawing Ace, King or Queen

ace        = 4
king       = 4
queen      = 4
ace_king_or_queen = event_probability(ace, cards) + event_probability(king, cards) + event_probability(queen, cards)
print (ace_king_or_queen)

0.23076923076923078

In [12]:
#  Calculate the probability of drawing a heart or ace card

cards          =  52
hearts         =  13
ace            =  4
ace_of_heart   =  1
heart_of_ace   = event_probability(heart, cards) + event_probability(ace, cards)
print(round(heart_of_ace , 1))

0.3

In [13]:
#  Calculate the probability of drawing red cards or face cards

red_card        =    26
face_card       =    12
red_face_card   =    6

red_or_face_cards = event_probability(red_card, cards) + event_probability(face_card, cards) - event_probability(red_face_card, cards)
print(round(red_or_face_cards, 1))

0.6

# Complementry events

In [14]:
#probability of not getting 5 when a fair die is rolled

ns  =  6
na  =  1     # n(A) = {5}
pa  =  na/ns
print("probability of not getting 5 is :" ,1 - pa)

probability of not getting 5 is : 0.8333333333333334

# Conditional probability

In [7]:
import pandas as pd
import numpy as np
df  = pd.read_csv("/storage/emulated/0/Download/student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [8]:
len(df)

395

We are concerned with columns , absences ( no of absences), and G3 (final grade from 0 to 20)

Let us create a couple new boolwan columns based on these columns to make our lives easier.

Add a boolean column called grade_A nothing if a student achieved 80 % or higher as a final score. Orginal values are on 0 - 20 scale so we multiply by 5.

In [9]:
df['grade_A']   = np.where(df['G3'] *5  >= 80  , 1 , 0)

Make a boolean column called high_absenses with a value of 1 if a student missed 10 or more classes.

In [13]:
df['high_absences'] = np.where(df['absences']  >= 10, 1, 0)

In [10]:
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,0

In [11]:
df['count']  = 1

In [14]:
df = df[['grade_A', 'high_absences', "count"]]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

Now we have to create pivot table from this

In [16]:
final  = pd.pivot_table(
         df, 
         values       = 'count' ,
         index        = ['grade_A'],
        columns       = ['high_absences'],
        aggfunc       =  np.size,
        fill_value    =  0    )

In [17]:
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

Calculate the probability that student will get grade A given that missing 10 or more classes We now have all the data we need to do our calculation. Ih our case: P(A) = prob of gradeof 80% or greater P(B) = prob of missing 10 or more lecture P(A/B) = prob of 80% + grade given missing more than 10 classes P(A)= (35+5) / (277+35+78+5) = 0.10126 P(B)= (78+5) / (277+35+78+5) = 0.2101 P(A or B) = (5) / (277+35+78+5) = 0.0126 P(A/B) = P(A or B)/P(B) = 0.60 The probability of getting atleast an 80% final grade , given missing 10 or more classes is 6%.

In [3]:
def prob(p_a, p_b, p_a_or_b) :
   
    
    p_a_given_b  =  p_a_or_b / p_b
    
    return p_a_given_b
p_a        = (35+5) / (277+35+78+5)
p_b        = (78+5) / (277+35+78+5)
p_a_or_b   =  (5) / (277+35+78+5)
    
    
result  = prob(p_a, p_b, p_a_or_b)

print('P(A/B)= %.3f%%' %(result * 100))

P(A/B)= 6.024%

# Combinatorics:Permutation,Combination,Variation

In [19]:
import itertools
from itertools import product
box_1=['g','b']
perm=[]
for p in itertools.product (box_1,repeat=2):
    perm.append(p)
perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

In [5]:
import itertools
from itertools import product
box_2=['g','b','y']
perm=[]
for p in itertools.product (box_2,repeat=3):
    perm.append(p)
perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'g', 'y'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('g', 'b', 'y'),
 ('g', 'y', 'g'),
 ('g', 'y', 'b'),
 ('g', 'y', 'y'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'g', 'y'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'y', 'g'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('y', 'g', 'g'),
 ('y', 'g', 'b'),
 ('y', 'g', 'y'),
 ('y', 'b', 'g'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'y', 'g'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y')]

In [28]:
import itertools 

box_1=['g','y']
perm=itertools.permutations(box_1)

for i in list (perm):
    print(i)

('g', 'y')
('y', 'g')

In [29]:
import itertools 

box_1=['g','y','b']
perm=itertools.permutations(box_1)

for i in list (perm):
    print(i)

('g', 'y', 'b')
('g', 'b', 'y')
('y', 'g', 'b')
('y', 'b', 'g')
('b', 'g', 'y')
('b', 'y', 'g')

# Variations

In [33]:
import itertools
from itertools import product

box_2=['g','b','y']
perm=[]
for p in itertools.produt(box_2,repeat=2):
    perm.append(p)
perm

AttributeError: module 'itertools' has no attribute 'produt'

In [21]:
box_2=['g','b','y']
perm=itertools.permutations(box_2,2)

for i in list (perm):
    print(i)

('g', 'b')
('g', 'y')
('b', 'g')
('b', 'y')
('y', 'g')
('y', 'b')

In [24]:
from itertools import combinations_with_replacement
box_1=['g','b']
comb=combinations_with_replacement(box_1,2)


for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [25]:
from itertools import combinations_with_replacement

box_1=['g','b','y','w']
comb=combinations_with_replacement(box_1,2)


for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'w')
('b', 'b')
('b', 'y')
('b', 'w')
('y', 'y')
('y', 'w')
('w', 'w')

In [27]:
from itertools import combinations 
comb=combinations(box_1,2)
for i in list (comb):
    print(i)

('g', 'b')
('g', 'y')
('g', 'w')
('b', 'y')
('b', 'w')
('y', 'w')

In [35]:
from itertools import combinations
box_1=['b','g','y']
comb=combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')
('b', 'y')
('g', 'y')